*{
    margin: 2px;
    padding: 2px;
}
#VPassCross{
    padding-top: 2px;
}
#crossIcon{
    opacity: 0;
}
/* #bk{
    background-image: url('../Images/404.gif');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
} */