.mainBody{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    /* background-color: rgb(147, 190, 228); */
}
.moduleContainer{
    margin-left: 7%;
    margin-right: 7%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}
.image{
    width: 300px;
    height: 160px;
    align-items: center;
    justify-items: center;
    /* background-image: url('../Images/FirstPageImage/fullEvent.png'); */
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1%;
}
.moduleName{
    margin-left: 5%;
    margin-top: 1%;
    font-weight: 700;
    padding: 2px; 
    /* background-color: rgb(186, 184, 235); */
}

.link{
    text-decoration: none;
    color: black;

}

